<footer class="bg-white text-gray-900 shadow-md py-6 mt-10">
  <div class="container mx-auto flex items-center justify-between px-4 text-center">
    
    <!-- Left: Copyright -->
    <p class="text-sm"> <a href="../admin-dashboard.html"> &copy; 2025 HelpingGreens.</a></p>

    <!-- Center: Nav Links (Hidden on Mobile) -->
    <ul id="nav-links" class="hidden md:flex justify-center items-center gap-8 text-sm">
      <li><a href="index.html" class="hover:text-green-600">Home</a></li>
      <li><a href="error.html" class="hover:text-green-600">About</a></li>
      <li><a href="donor-registeration.html" class="hover:text-green-600">Donor</a></li>
      <li><a href="error.html" class="hover:text-green-600">Login</a></li>
    </ul>

    <!-- Right: Social Links -->
    <div id="socials" class="flex items-center gap-4">
      <a href="#"><img src="./assets/icons/f-link1.png" class="w-6" alt="twitter" /></a>
      <a href="#"><img src="./assets/icons/f-link2.png" class="w-6" alt="facebook" /></a>
      <a href="#"><img src="./assets/icons/f-link3.png" class="w-6" alt="instagram" /></a>
    </div>

  </div>
</footer>
